<!-- 로그인 -->
<div class="Login_Box" style="display: none">
	<div class="Login_BgBox">
		<div class="Login_Bg">
<!--		    <img src="assets/img/login_bg.jpg" alt="LostArk" height="100%">-->
		</div>
	</div>
	<mat-card class="Login_FormBox">
		
       <img src="assets/img/logo/Logo_origin.png" alt="LostArk" width="100%">
		        
		<mat-form-field appearance="legacy">
			<mat-label>아이디를 선택하세요.</mat-label>
			<mat-icon matPrefix>person</mat-icon>
			<mat-select [(ngModel)]="IdText">
			<!--카단섭-->
		 	  <mat-optgroup label="카단섭">
				  <mat-option value="점화걸면정화">점화걸면정화</mat-option>
				  <mat-option value="데둠미">데둠미</mat-option>
				  <mat-option value="펭난나">펭난나</mat-option>
				  <mat-option value="달빛천사썬가드">달빛천사썬가드</mat-option>
				  <mat-option value="블군자">블군자</mat-option>
				  <mat-option value="욕망군단장형아키스">욕망군단장형아키스</mat-option>
				  <mat-option value="인조인간91호">인조인간91호</mat-option>
				  <mat-option value="긴바나나">긴바나나</mat-option>
				  <mat-option value="똘렝">똘렝</mat-option>
				  <mat-option value="라즈베리단풍"> 라즈베리단풍</mat-option>
				  <mat-option value="식끈박끈"> 식끈박끈</mat-option>
				  <mat-option value="신성범위"> 신성범위</mat-option>
				  <mat-option value="하얀활"> 하얀활</mat-option>
				  <mat-option value="HK278"> HK278</mat-option>
			  </mat-optgroup>
			  
			  <!--아만섭-->
			  <mat-optgroup label="아만섭">
			  	<mat-option value="나긋하">나긋하</mat-option>
		  	  </mat-optgroup>
			  
			  
			  
			</mat-select>
			<mat-error>아이디를 확인해주세요.</mat-error>
		</mat-form-field>


		<mat-form-field appearance="legacy">
			<mat-label>비밀번호를 입력하세요.</mat-label>
			<mat-icon matPrefix>lock</mat-icon>
			<input matInput [type]="hide ? 'password' : 'text'" required [(ngModel)]="PasswordText">
			<button mat-icon-button matSuffix *ngIf="PasswordText != null" (click)="hide = !hide">
				<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<!--    <mat-hint>비밀번호를 입력해주세요.</mat-hint>-->
			<mat-error>비밀번호를 확인해주세요.</mat-error>
		</mat-form-field>

		<div class="Login_ButtonBox">
			<button mat-stroked-button class="NextBtn" (click)="Login()">로그인</button>
		</div>

	</mat-card>
</div>

<div class="Main_PanelBox">

	<mat-toolbar>
		<button mat-icon-button (click)="Menu.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<span class="Menu_Logo"><img src="assets/img/logo/Logo_white.png" alt="LOSTARK_Scheduler_by_JH" width="100%"></span>
		<!--  <span class="mat-toolbar_spacer"></span>-->
		<button mat-icon-button (click)="settings.toggle()">
			<mat-icon>settings</mat-icon>
		</button>
	</mat-toolbar>

	<mat-drawer-container>

	  <mat-drawer #Menu mode="over" position="start" class="Main_Menu">

		<mat-selection-list [multiple]="false">
		  <div mat-subheader><mat-icon mat-list-icon>account_circle</mat-icon> 길드원 메뉴</div>
		  <mat-list-option selected (click)="UserMenu('WeekCalendar')"><mat-icon mat-list-icon>campaign</mat-icon><div mat-line>주간 캘린더</div></mat-list-option>


		</mat-selection-list>
	  </mat-drawer>

	  <mat-drawer #settings mode="over" position="end" class="Main_Setting">
		<mat-accordion [multi]="true">
		  <mat-expansion-panel hideToggle expanded disabled>
			<h3 class="Main_Setting_User"><span>js1234@example.com</span>님 환영합니다.</h3>
			<p class="Notification_Setting ThemeBtn ThemeBtn_light" (click)="darkTheme()">
				<mat-icon>dark_mode</mat-icon><mat-slide-toggle>다크모드</mat-slide-toggle>
			</p>			

		   <div class="Main_SettingButtonBox">
			<button mat-stroked-button>주간 초기화</button>
		   </div>
		   <p class="Main_Setting_Logout">
				<button mat-stroked-button class="RedBtn" (click)="Logout()">로그아웃</button>
			</p>



		  </mat-expansion-panel>
		</mat-accordion>
	  </mat-drawer>



	  <div class="Main_Panel">
		<router-outlet></router-outlet>
	  </div>

	</mat-drawer-container>



</div>
