

<div class="Content_Panel">

	<div class="Content_Panel_Title">
		<h3>
			<mat-icon>help_outline</mat-icon> 유저 가이드
		</h3>
	</div>

	<div class="UserGuide_List_Box">


	<mat-tab-group matTabGroupGesture [swipeLimitWidth]="30" [connectEdges]="true">
	<mat-tab label="처음">
		<div class="GuideBox">
			<img src="assets/img/guide/1.png" alt="guide_Image">
		</div>
	</mat-tab>
	<mat-tab label="로그인">
		<div class="GuideBox">
			<img src="assets/img/guide/2.png" alt="guide_Image">
		</div>
	</mat-tab>
	<mat-tab label="캘린더 일정 추가">
	<div class="GuideBox">
  		<img src="assets/img/guide/3.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="사용방법">
	<div class="GuideBox">
  		<img src="assets/img/guide/4.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="요일 선택">
	<div class="GuideBox">
  		<img src="assets/img/guide/5.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="파티종류 선택">
	<div class="GuideBox">
  		<img src="assets/img/guide/6.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="레이드 선택">
	<div class="GuideBox">
  		<img src="assets/img/guide/7.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="출발시간 선택">
	<div class="GuideBox">
  		<img src="assets/img/guide/8.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="포지션 선택">
	<div class="GuideBox">
  		<img src="assets/img/guide/9.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="메모 작성">
	<div class="GuideBox">
  		<img src="assets/img/guide/10.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="레이드 분류">
	<div class="GuideBox">
  		<img src="assets/img/guide/11.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="일정 나가기">
	<div class="GuideBox">
  		<img src="assets/img/guide/12.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="함께하기">
	<div class="GuideBox">
  		<img src="assets/img/guide/13.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="환경설정">
	<div class="GuideBox">
  		<img src="assets/img/guide/14.png" alt="guide_Image">
  	</div>
	</mat-tab>
	<mat-tab label="마무리">
	<div class="GuideBox">
  		<img src="assets/img/guide/15.png" alt="guide_Image">
  	</div>
	</mat-tab>
</mat-tab-group>


	</div>
</div>
