<div class="Content_Panel">

	<div class="Content_Panel_Title">
		<h3>
			<mat-icon>receipt</mat-icon> 자주 찾는 질문
		</h3>
	</div>
	
	<div class="User_Qna">
		<mat-accordion>
		  <mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        이미 올라온 레이드 목록에 참가신청을 하는 방식인가요? 
		      </mat-panel-title>
		      <mat-panel-description>
		        아니요
		      </mat-panel-description>
		    </mat-expansion-panel-header>
		    
		<p>길드원분들의 본인이 가는 레이드 스케줄을 등록하시면</p>
		<p>자동으로 레이드끼리 묶어서 인원을 보여주는 시스템입니다.</p>
<!--
		<p>b. 길드원이 생성한 파티에 함께하기 누르는 방식 [ 추후 오픈 ]</p>
		<p>⭐️ 다른 길드원 파티를 참가하길 원하면 </p>
		<p>⭐️ 본인이 미리 생성한 스케쥴은 나가기를 한 뒤, 함께하기를 해주세요.</p>
-->
		
		    </mat-expansion-panel>
		      <mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        매주 레이드 초기화는 어떻게 하나요?!
		      </mat-panel-title>
		      <mat-panel-description>
		        자동화 시스템  
		      </mat-panel-description>
		    </mat-expansion-panel-header>
		    
		<p>자동적으로 매주 수요일 오전 12시에</p>
		<p>초기화가 진행되니 걱정하지 않으셔도 됩니다.</p>
		
		    </mat-expansion-panel>
		    <mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        스케쥴 등록은 언제부터 하면 되나요?!
		      </mat-panel-title>
		      <mat-panel-description>
		        매주 수요일 
		      </mat-panel-description>
		    </mat-expansion-panel-header>
		    
		<p>매주 수요일 오전 12시 01분이후 부터 해주시면 됩니다</p>
		<p>제가 따로 공지할테니 걱정마세요잉 :) </p>
		
		    </mat-expansion-panel>
		    <mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        카카오톡으로 들어가서 톱니바퀴(설정)버튼이 눌리지 않아요.
		      </mat-panel-title>
		      <mat-panel-description>
		        카카오톡이 업데이트
		      </mat-panel-description>
		    </mat-expansion-panel-header>
		    
		<p>카카오톡이 최신버전인지 확인하시고 실행하시면 됩니다.</p>
		<p>또는 PC버전에서는 보다 안정적으로 동작합니다.</p>
		
		    </mat-expansion-panel>
		    <mat-expansion-panel>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        잠깐 버벅거림이 있는데 문제있는건가요?! 
		      </mat-panel-title>
		      <mat-panel-description>
		        서버의 한계  
		      </mat-panel-description>
		    </mat-expansion-panel-header>
		    
		<p>이는 동시 접속자가 같은 레이드, 군단장을 신청했거나 </p>
		<p>레이드 나가기를 동시에 눌러서 생긴 버벅거림입니다.</p>
		<p>먼저 누른 사람을 먼저 처리해주는 순차적 처리 방식</p>
		<p>로아의 대기열 시스템이라고 생각해주시면 될 것 같아요!</p>
		<p>큰 문제가 되지 않으니 걱정하지 않으셔도 됩니다.</p>
		
		    </mat-expansion-panel>
		  <mat-expansion-panel disabled>
		    <mat-expansion-panel-header>
		      <mat-panel-title>
		        함께하기 버튼이 눌리지 않아요.
		      </mat-panel-title>
		      <mat-panel-description>
		        추후 오픈
		
		      </mat-panel-description>
		    </mat-expansion-panel-header>
		
		  </mat-expansion-panel>
		
		
		</mat-accordion>
	</div>
	
</div>